* {
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(14, 14, 14);
    font-family: sans-serif;
    font-size: medium;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color:black;
    padding: 24px;
}
.sidebar .logo img {
    width: 160px;
    margin-left:-6px;
    margin-top: -14px;
}
.sidebar .home{
    color: white;
    margin-top: -20px;
    font-size: 15px;
}
.sidebar .search {
    color: white;
    margin-left: -10px;
    background-color:rgb(40, 40,40);
    border-radius: 7px;
    padding: 8px;
    padding-bottom:12px;
    font-size: 15px;  
     
}
.sidebar .yourlib {
    color: white;
    font-size: 15px;
}
.sidebar .createplaylist {
    color: white;
    
}
.sidebar .likedsongs {
    color: white;
}
.sidebar .yourepisodes {
    color: white;
}
.bottombar{
    position:fixed;
    left: 0;
    bottom:0;
    right:0;
    background-color:rgb(22, 22, 22);
    padding: 20px;
    height: 80px;
    border-top:solid;
    border-top-width:0.2px;
    border-color: rgb(157, 157, 157);
}
.bottombar .songpic{
    margin-left: 40px;
    margin-top:10px;
    margin-bottom: 130px;
    padding-bottom: 30px;
}
.bottombar .songname{
    color: white;
    font-size: small;
    margin-top: -220px;
    margin-left: 130px;
}
.bottombar .band{
    color: rgb(160,160,160);
    font-size: small;
    margin-left: 130px;
}
.bottombar .heart{
    margin-left: 250px;
    margin-top:-30px;
    
}
.sidebar .installapp{
    margin-left:-15px;
    color: white;
    margin-top:120px;
}
.bottombar .play{
    margin-left: 550px;
    margin-top:10px;
    color: rgb(177, 177, 177);
    font-size: small;
}
.bottombar .shuffle{
    margin-left: 710px;
    margin-top: -60px;
}
.bottombar .left{
    margin-left: 770px;
    margin-top: -34px;
}
.bottombar .playy{
    margin-left: 830px;
    margin-top: -48px;
}
.bottombar .right{
    margin-left:900px;
    margin-top: -50px;
}
.bottombar .repeat{
    margin-left: 960px;
    margin-top: -32px;
}
.searchbar{
    width: 500px;
    margin-left: 500px;
    background-color: white;
    justify-content: center;
    padding: 5px;
    padding-bottom: 50px;
    margin-top: 40px;
    font-size: medium;
    border-radius: 500px;
}
.pop{
    width: 560px;
    height: 220px;
    background-color:rgb(141, 103, 171);
    margin-top: 170px;
    margin-left: 320px;
    border-radius: 10px;
    font-size: 48px;
    font-weight: 700;
    color: white;
    padding-left: 20px;
    padding-top: 30px;
}
.Hiphop{
    width: 550px;
    height: 220px;
    font-size: 48px;
    font-weight: 700;
    background-color: rgb(183, 93, 7);
    margin-top: -250px;
    margin-left: 925px;
    border-radius: 10px;
    color: white;
    padding-left: 20px;
    padding-top: 30px;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left:-132px;
    margin-top: -750px;
}

#search {
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 500px;
    font-size: 16px;
    font-weight: bold;
}
.searchb{
    margin-left: 445px;
    margin-top:-380px;
}
.white-heading {
    color: white;
    margin-left: 320px;
    margin-top:60px;
}
.white-heading2{
    color: white;
    margin-left: 320px;
    margin-top: -320px;
}
.rarw{
    margin-left:380px ;
    margin-top:-122px;
    background-color: rgb(24, 24, 24);
    border-radius: 10000px;
    width: 30px;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
}
.larw{
    margin-left:320px;
    margin-top:-40px;
    background-color: rgb(24, 24, 24);
    border-radius: 10000px;
    width: 30px;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
}
.podcast{
    width: 270px;
    height: 220px;
    background-color:rgb(39, 133, 106);
    margin-top: 470px;
    margin-left: 320px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding-left: 20px;
    padding-top: 30px;
}
.madeforyou{
    width: 270px;
    height: 220px;
    background-color:rgb(30, 50, 100);
    margin-top: -250px;
    margin-left: 635px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding-left: 20px;
    padding-top: 30px;
}
.charts{
    width: 270px;
    height: 220px;
    background-color:rgb(141, 103, 171);
    margin-top: -250px;
    margin-left: 950px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding-left: 20px;
    padding-top: 30px;
}
.newrelease{
    width: 270px;
    height: 220px;
    background-color:rgb(232, 17, 91);
    margin-top: -250px;
    margin-left: 1265px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding-left: 20px;
    padding-top: 30px;
}
.righticon{
    color: black;
    font-size: xx-large;
    background-color: white;
    margin-left: 1470px;
    margin-top: -220px;
    border-radius: 99999;
    width: 30px;
    padding-left: 15px;
    padding-right: 4px;
    height: 40px;
    padding-top: 5px;
    border-radius: 9999999px;
}   

